.DS_Store
*.xcuserstate
*.xcuserdata/
DerivedData/
build/
dist/
node_modules/
.vite/
.vercel/
.env
.env.*
!.env.example
universal/android/.gradle/
universal/android/app/build/
universal/android/build/
universal/ios/App/DerivedData/
universal/ios/App/build/

